@inherits GoalListModel
<div class="container">

    <div class="card-columns">
        <h2>Liste aller Ziele</h2>

        @foreach (var goal in Goals)
        {
            <GoalCard Header="Ziel" bind-Title="goal.Title" bind-Description="goal.Description"></GoalCard>
        }

    </div>

</div>